/* ---------------- GLOBALS --------------- */
:root {
	/* ------------------ Colors -------------- */
	--off-white: #f0edee;
	--off-black: #0f0f0a;
	--prussian-blue: #003153;
	--crimson: #d7263d;
	--apple-green: #72b01d;
	--sky-blue: #4cc9f0;
	--xanthous: #f5b82e;
}
