.glass {
	--glass-border-radius: 16px;
	background: rgba(240, 237, 238, 0.2); /* opaque off-white */
	border-radius: var(--glass-border-radius);
	/*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(240, 237, 238, 0.6); /* opaque off-white */
	transition: box-shadow transform 0.05s linear;
}

.glass:focus {
	box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}
